<div class="main-container container-fluid">
  <div class="jumbotron text-center">
    <div class="">
        <h5 class="" style="color: red;">Got a Question?</h5>
        <h1>Contact Me</h1>
    </div>
    <div class="">
      <p>I am here to help and answer any question you might have. I look forward to hearing from you 🙂</p>
    </div>
    <div class="social">
      <a href="https://www.facebook.com/RIZ564" target="_blank" class="fab fa-facebook"></a>
      <a href="#" class="fab fa-twitter" target="_blank" ></a>
      <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=mdrizwanrabbani@gmail.com" target="_blank" class="fab fa-google"></a>
      <a href="https://www.linkedin.com/in/md-rizwan-rabbani-2294b7b0/" class="fab fa-linkedin" target="_blank" ></a>
      <a href="https://www.youtube.com/channel/UC5oFTrkMXjdDm-kJMgn3k1Q" class="fab fa-youtube" target="_blank" ></a>
      <a href="https://www.instagram.com/riz_roxx/" class="fab fa-instagram" target="_blank" ></a>
    </div>
  </div>

  <!-- <div class="innerContainer">
    <-- Add font awesome icons >
    <div class="floatLeft">
      <a href="#" class="fab fa-facebook"></a>
    </div>
    <div class="floatLeft">
      <a href="#" class="fab fa-twitter"></a>
    </div>
    <div class="floatLeft">
      <a href="#" class="fab fa-google"></a>
    </div>
    <div class="floatLeft">
      <a href="#" class="fab fa-linkedin"></a>
    </div>
    <div class="floatLeft">
      <a href="#" class="fab fa-youtube"></a>
    </div>
    <div class="floatLeft">
      <a href="#" class="fab fa-instagram"></a>
    </div>
  </div> -->
</div>

